# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Publish

on: push

jobs:
  publish:
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0
          
      - name: Restore
        run: dotnet restore XMediaDownloader
        
      - name: Build
        run: dotnet build XMediaDownloader --no-restore
        
      - name: Publish
        run: dotnet publish XMediaDownloader --no-build -o publish

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: publish
          path: publish
